<!-- Our-favorites -->

<section class="our-favorites">
  <div class="container">
    <h2 class="our-favorites-title">Some of Our Favorites</h2>
    <p class="our-favorites-text">Looking for something delicious?</p>
    <ul class="our-favorites-list">
      <li class="our-favorite-item">
        <div class="our-favorite-image-container">
          <picture>
            <!-- Desktop -->
            <source
              media="(min-width: 1158px)"
              srcset="./images/gamburger.png 1x, ./images/gamburger@2x.png 2x"
              type="image/png"
            />
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gamburger-tablet.png    1x,
                ./images/tablet/gamburger-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gamburger-mobile.png    1x,
                ./images/mobile/gamburger-mobile@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="our-favorite-image"
              src="./images/gamburger.png"
              alt="gamburger"
              width="223"
              height="223"
            />
          </picture>
        </div>
      </li>
      <li class="our-favorite-item">
        <div class="our-favorite-image-container">
          <picture>
            <!-- Desktop -->
            <source
              media="(min-width: 1158px)"
              srcset="./images/pasta.png 1x, ./images/pasta@2x.png 2x"
              type="image/png"
            />
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/pasta-tablet.png    1x,
                ./images/tablet/pasta-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/pasta-mobile.png    1x,
                ./images/mobile/pasta-mobile@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="our-favorite-image"
              src="./images/pasta.png"
              alt="pasta"
              width="223"
              height="223"
            />
          </picture>
        </div>
      </li>
      <li class="our-favorite-item">
        <div class="our-favorite-image-container">
          <picture>
            <!-- Desktop -->
            <source
              media="(min-width: 1158px)"
              srcset="./images/pizza.png 1x, ./images/pizza@2x.png 2x"
              type="image/png"
            />
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/pizza-tablet.png    1x,
                ./images/tablet/pizza-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/pizza-mobile.png    1x,
                ./images/mobile/pizza-mobile@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="our-favorite-image"
              src="./images/pizza.png"
              alt="pizza"
              width="223"
              height="223"
            />
          </picture>
        </div>
      </li>
      <li class="our-favorite-item">
        <div class="our-favorite-image-container">
          <picture>
            <!-- Desktop -->
            <source
              media="(min-width: 1158px)"
              srcset="./images/chicken.png 1x, ./images/chicken@2x.png 2x"
              type="image/png"
            />
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/chicken-tablet.png    1x,
                ./images/tablet/chicken-tablet@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="our-favorite-image"
              src="./images/chicken.png"
              alt="chicken"
              width="223"
              height="223"
            />
          </picture>
        </div>
      </li>
      <li class="our-favorite-item">
        <div class="our-favorite-image-container">
          <picture>
            <!-- Desktop -->
            <source
              media="(min-width: 1158px)"
              srcset="./images/salat.png 1x, ./images/salat@2x.png 2x"
              type="image/png"
            />
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/salat-tablet.png    1x,
                ./images/tablet/salat-tablet@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="our-favorite-image"
              src="./images/salat.png"
              alt="salat"
              width="223"
              height="223"
            />
          </picture>
        </div>
      </li>
      <li class="our-favorite-item">
        <div class="our-favorite-image-container">
          <picture>
            <!-- Desktop -->
            <source
              media="(min-width: 1158px)"
              srcset="./images/borshch.png 1x, ./images/borshch@2x.png 2x"
              type="image/png"
            />
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/borshch-tablet.png    1x,
                ./images/tablet/borshch-tablet@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="our-favorite-image"
              src="./images/borshch.png"
              alt="borshch"
              width="223"
              height="223"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
