<!-- Mobile-menu -->

<div class="mobile-menu-container is-open" data-menu>
  <div class="mobile-menu">
    <button class="close-button" type="button" data-menu-close>
      <svg class="close-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <nav>
      <ul class="mobile-navigation-list">
        <li class="mobile-navigation-link"><a href="">Home</a></li>
        <li class="mobile-navigation-link"><a href="">About</a></li>
        <li class="mobile-navigation-link"><a href="">Service</a></li>
        <li class="mobile-navigation-link"><a href="">Menu</a></li>
        <li class="mobile-navigation-link"><a href="">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
