<!-- Our-offers -->
<section class="our-offers" id="about">
  <div class="container our-offers-container">
    <div class="our-offers-image-container">
      <div class="background-image">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1158px)"
            srcset="
              ./images/shadow-apple.png    1x,
              ./images/shadow-apple@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/shadow-apple-tablet.png    1x,
              ./images/tablet/shadow-apple-tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/shadow-apple-mobile.png    1x,
              ./images/mobile/shadow-apple-mobile@2x.png 2x
            "
            type="image/jpg"
          />
          <img
            class="our-offers-image-second"
            src="./images/shadow-apple.png"
            alt="shadow-apple"
            width="128"
            height="44"
          />
        </picture>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1158px)"
            srcset="./images/aple.png 1x, ./images/aple@2x.png 2x"
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/aple-tablet.png    1x,
              ./images/tablet/aple-tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/apple-mobile.png    1x,
              ./images/mobile/apple-mobile@2x.png 2x
            "
            type="image/jpg"
          />
          <img
            class="our-offers-image"
            src="./images/aple.png"
            alt="apple"
            width="202"
            height="256"
          />
        </picture>
      </div>
    </div>
    <div class="text-our-offers-container">
      <h2 class="our-offers-title">What’s Special About Our Offerings</h2>
      <p class="our-offers-text">
        With our platform, you can browse through a diverse selection of
        cuisines and local restaurants, and choose from a variety of dishes that
        cater to your specific taste buds.
      </p>
      <ul class="advantages">
        <li class="advantages-list">
          <div class="our-offers-icon-container">
            <svg class="our-offers-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="our-offers-list-title">Fasest Delivery</h3>
          <p class="our-offers-list-title-text">
            Our advanced logistics system and dedicated delivery partners ensure
            that your meals are delivered to you within 30-minutes.
          </p>
        </li>
        <li class="advantages-list">
          <div class="our-offers-icon-container">
            <svg class="our-offers-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-touch"></use>
            </svg>
          </div>
          <h3 class="our-offers-list-title">Easy To Order</h3>
          <p
            class="our-offers-list-title-text our-offers-list-title-second-text"
          >
            You can browse through a wide variety of cuisines and restaurants,
            select your favorite meals, and place your order in just a few
            clicks.
          </p>
        </li>
      </ul>
      <div class="action-selection-container">
        <button class="our-offers-button" type="button" data-modal-open>
          Order Now
        </button>
        <div class="read-more-container">
          <p class="read-more-text">Read More</p>
          <svg width="14" height="14">
            <use href="./images/icons.svg#icon-chevron-down"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
