<!-- Reviews -->

<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">What our Customers Say</h2>
    <p class="reviews-text">
      Don't just take our word for it - see what our satisfied customers have to
      say
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <svg class="reviews-icon" width="101" height="16">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
        <p class="reviews-list-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="user-review">
          <picture
            ><source
              srcset="./images/icon-man.png 1x, ./images/icon-man@2x.png 2x"
              type="image/png"
            />
            <img
              src="./images/icon-man.png"
              alt="icon-man"
              width="48"
              height="48"
            />
          </picture>
          <div>
            <h3 class="name-author-review">Sumith Shah</h3>
            <p class="author-description">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <svg class="reviews-icon" width="101" height="16.32">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
        <p class="reviews-list-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="user-review">
          <picture
            ><source
              srcset="./images/icon-woman.png 1x, ./images/icon-woman@2x.png 2x"
              type="image/png"
            />
            <img
              src="./images/icon-woman.png"
              alt="icon-woman"
              width="48"
              height="48"
            />
          </picture>
          <div>
            <h3 class="name-author-review">Sumith Shah</h3>
            <p class="author-description">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
