.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-container {
    max-width: 320px;
  }
}

/* TABLET STYLES */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
